body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url("http://gritsandgrids.s3.amazonaws.com/media/2017/02/Shade-Burger-YOD-studio-11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: beige;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  background-position: center;
  height: 100vh;
}

.container {
  color: beige;
}

li {
  padding: 5px;
  margin: 5px;
  background: black;
  border-radius: 15px;
  border: 1px solid #e97e22;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: beige;
}

.form-group {
  margin-bottom: 5px;
}


.hero-burger {
  text-align: center;
}

img {
  border-radius: 80%;
  height: 270px;
  width: 527px;
}

.add-burger {
  text-align: center;
}

.btn-action {
  background-color: #e97e22;
  border: 1px solid #e97e22;
  color: #fff;
  margin: 2px;
  border-radius: 20px
}

.btn-try {
  background-color: black;
  border: 1px solid #e97e22;
  color: #9e9a97;
  margin: 2px;
  border-radius: 20px
}
