body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url("/assets/img/south-bank-honest-burgers-restaurant-3 (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: beige;
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
  background-position: center;
  height: 100vh;
}

.container {
  color: beige;
}

li {
  padding: 5px;
  margin: 5px;
  background: black;
  border-radius: 15px;
  border: 1px solid #ffd5
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: beige;
}

.form-group {
  margin-bottom: 5px;
}


.hero-burger {
  text-align: center;
}

img {
  border-radius: 65%;
  height: 250px;
  width: 350px;
}

.add-burger {
  text-align: center;
}

.btn {
  border-radius: 25px;
}